.mainContainer {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 95vh;
  border: solid black 5px;
  border-radius: 20px;
  background-color: lightblue;
}

.insideContainer {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid black 2px;
  padding: 3em;
  width: 350px !important;
  border-radius: 20px;
  background-color: #adadadc5;
}

.inputContainer {
  padding: 0.5em;
}

.buttonContainer {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}
