
.mainContainer {
  display: flex !important;
  justify-content: space-between;
}

.sidebar {
  /* background-color: white; */
  color: black;
  height: 20%;
  position: fixed !important;
  top: -7%;
  left: 10%;
  transform: translate(-40%, 10%);
  border: solid black 1px;
}

.feedContainer {
  width:70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.header{
  margin: 10px;
}

.random{
  width: 15%;
  
}